@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.sidebar-link {
    transition: all 0.2s ease-in-out;
    border-left: 3px solid transparent;
    padding-left: 1rem;
}

.sidebar-link:hover {
    background-color: #374151;
    border-left-color: #38bdf8;
}

#header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/header.jpg') no-repeat center center/cover;
    color: white;
    padding: 4rem 0;
    text-align: center;
}
